{% extends "layout.html" %}

{% block title %}

    <title>hello</title>

{% endblock %}

{% block body %}

    <!-- <form action="/greet" method="get">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <button type="submit">Greet</button>
    </form> -->

    <!-- <form action="/greet" method="post"> -->
    <form action="/" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <button type="submit">Greet</button>
    </form>
    
{% endblock %}
